{% load static %}
<section class="py-5">
    <div class="container px-4">
        <div class="section-title text-center">
            <h2 class="mb-4 fw-bold">Weekly Highlights</h2>
        </div>

        <!--start tabular product-->
        <div class="tabular-product">
            <div class="table-responsive">
                <ul class="nav nav-pills mb-5 gap-3 justify-content-center">
                    <li class="nav-item">
                        <button class="nav-link btn border px-4 py-2 rounded-5 active" data-bs-toggle="pill"
                            data-bs-target="#best-sellers" type="button">Best Sellers</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn border px-4 py-2 rounded-5" data-bs-toggle="pill"
                            data-bs-target="#new-arrivals" type="button">New Arrivals</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="best-sellers">
                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <a href="product-detail-grid.html">
                                        <img src="{% static 'main_assets/images/products/03.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail-grid.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <div class="discount-ribben position-absolute top-0 start-0 m-3">35%
                                    </div>
                                    <a href="product-detail-grid.html">
                                        <img src="{% static 'main_assets/images/products/04.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail-grid.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <a href="product-detail.html">
                                        <img src="{% static 'main_assets/images/products/05.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <div class="discount-ribben position-absolute top-0 start-0 m-3">24%
                                    </div>
                                    <a href="product-detail-grid.html">
                                        <img src="{% static 'main_assets/images/products/06.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail-grid.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <a href="product-detail.html">
                                        <img src="{% static 'main_assets/images/products/07.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <a href="product-detail.html">
                                        <img src="{% static 'main_assets/images/products/08.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->
                </div>
                <div class="tab-pane fade" id="new-arrivals">
                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <div class="discount-ribben position-absolute top-0 start-0 m-3">Sale
                                    </div>
                                    <a href="product-detail-grid.html">
                                        <img src="{% static 'main_assets/images/products/08.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail-grid.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <a href="product-detail.html">
                                        <img src="{% static 'main_assets/images/products/03.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <a href="product-detail.html">
                                        <img src="{% static 'main_assets/images/products/10.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <a href="product-detail.html">
                                        <img src="{% static 'main_assets/images/products/02.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <a href="product-detail-grid.html">
                                        <img src="{% static 'main_assets/images/products/05.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail-grid.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-card">
                                <div class="product-img p-4 rounded-4 position-relative text-center">
                                    <div class="product-wishlist position-absolute top-0 end-0 m-3 border alignContent">
                                        <i class="material-icons-outlined fs-5">favorite_border</i>
                                    </div>
                                    <div class="discount-ribben position-absolute top-0 start-0 m-3">10%
                                    </div>
                                    <a href="product-detail-grid.html">
                                        <img src="{% static 'main_assets/images/products/07.png' %}"
                                            class="img-fluid mt-4" alt="">
                                    </a>
                                    <div class="btn-add-to-cart position-absolute bottom-0 start-0 end-0 p-3">
                                        <button type="button" class="btn btn-grd btn-grd-primary rounded-5 w-100">Add to
                                            Cart</button>
                                    </div>
                                </div>
                                <div class="product-info mt-3">
                                    <a href="product-detail.html">
                                        <h5 class="product-name">Neck Cotton Oversized T-shirt</h5>
                                    </a>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="mb-0 product-price">$248.50</h5>
                                        <h6 class="mb-0 product-old-price">$426.96</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->
                </div>
            </div>
        </div><!--end tabular product-->

    </div>
</section>