{% load static %}
<section class="py-5">
    <div class="container px-4">
        <div class="section-title text-center">
            <h2 class="mb-4 fw-bold">Testimonial</h2>
        </div>
        <div class="swiper testimonial-swiper">
            <div class="swiper-wrapper pb-4">
                <div class="swiper-slide">
                    <div class="card border-0 rounded-4 bg-light shadow-none">
                        <div class="card-body p-4">
                            <div class="d-flex align-items-center gap-3">
                                <div class="client-img">
                                    <img src="{% static 'main_assets/images/avatars/01.png' %}"
                                        class="rounded-circle p-1 shadow" width="80" height="80" alt="">
                                </div>
                                <div class="client-info">
                                    <h5 class="mb-0 fw-bold">Jhon Michle</h5>
                                    <p class="mb-0">United Kingdom</p>
                                </div>
                                <div class="client-rating ms-auto">
                                    <h6 class="mb-0 d-flex align-items-center gap-2">5.0<i
                                            class="material-icons-outlined text-warning">star</i></h6>
                                </div>
                            </div>
                            <div class="client-quote mt-4">
                                <p class="mb-0">
                                    I'm amazed by the quality and comfort of these clothes! Stylish,
                                    durable, and perfect for
                                    everyday
                                    wear.
                                    I've received so many compliments—definitely my new favorite brand
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0 rounded-4 bg-light shadow-none">
                        <div class="card-body p-4">
                            <div class="d-flex align-items-center gap-3">
                                <div class="client-img">
                                    <img src="{% static 'main_assets/images/avatars/02.png' %}"
                                        class="rounded-circle p-1 shadow" width="80" height="80" alt="">
                                </div>
                                <div class="client-info">
                                    <h5 class="mb-0 fw-bold">Jhon Michle</h5>
                                    <p class="mb-0">United Kingdom</p>
                                </div>
                                <div class="client-rating ms-auto">
                                    <h6 class="mb-0 d-flex align-items-center gap-2">5.0<i
                                            class="material-icons-outlined text-warning">star</i></h6>
                                </div>
                            </div>
                            <div class="client-quote mt-4">
                                <p class="mb-0">
                                    These clothes exceeded my expectations! The fabric is soft, fits
                                    perfectly, and looks even
                                    better in person.
                                    Great value for money—I’m definitely coming back for more!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0 rounded-4 bg-light shadow-none">
                        <div class="card-body p-4">
                            <div class="d-flex align-items-center gap-3">
                                <div class="client-img">
                                    <img src="{% static 'main_assets/images/avatars/03.png' %}"
                                        class="rounded-circle p-1 shadow" width="80" height="80" alt="">
                                </div>
                                <div class="client-info">
                                    <h5 class="mb-0 fw-bold">Jhon Michle</h5>
                                    <p class="mb-0">United Kingdom</p>
                                </div>
                                <div class="client-rating ms-auto">
                                    <h6 class="mb-0 d-flex align-items-center gap-2">5.0<i
                                            class="material-icons-outlined text-warning">star</i></h6>
                                </div>
                            </div>
                            <div class="client-quote mt-4">
                                <p class="mb-0">
                                    Absolutely love the design and fit! It’s rare to find clothing this
                                    fashionable and comfortable.
                                    Fast delivery and excellent customer service made the whole experience
                                    even better
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0 rounded-4 bg-light shadow-none">
                        <div class="card-body p-4">
                            <div class="d-flex align-items-center gap-3">
                                <div class="client-img">
                                    <img src="{% static 'main_assets/images/avatars/04.png' %}"
                                        class="rounded-circle p-1 shadow" width="80" height="80" alt="">
                                </div>
                                <div class="client-info">
                                    <h5 class="mb-0 fw-bold">Jhon Michle</h5>
                                    <p class="mb-0">United Kingdom</p>
                                </div>
                                <div class="client-rating ms-auto">
                                    <h6 class="mb-0 d-flex align-items-center gap-2">5.0<i
                                            class="material-icons-outlined text-warning">star</i></h6>
                                </div>
                            </div>
                            <div class="client-quote mt-4">
                                <p class="mb-0">
                                    I'm amazed by the quality and comfort of these clothes! Stylish,
                                    durable, and perfect for
                                    everyday wear.
                                    I've received so many compliments—definitely my new favorite brand
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>