<div class="modal-overlay" id="orderModal">
    <div class="modal-card">
        <div class="modal-header">
            <h3 id="modalTitle">অর্ডার ফর্ম</h3>
            <button class="close-btn" id="closeModalBtn">✕</button>
        </div>

        <div class="modal-body" id="formDivContainer">
            <form id="placeOrderForm" method="post">
                <div class="form-grid">
                    <div class="input-group">
                        <label>আপনার নাম</label>
                        <input type="text" name="name" placeholder="পূর্ণ নাম" required>
                    </div>
                    <div class="input-group">
                        <label>মোবাইল নাম্বার</label>
                        <input type="tel" name="phone" placeholder="01XXXXXXXXX" required>
                    </div>
                </div>
                <div style="display: flex; align-items: center; gap: 6px; margin-bottom: 15px; margin-top: 3px;">
                    <input type="checkbox" name="have_email" id="have_email" style="margin: 0; width: 5%; height: 18px;">
                    <label for="have_email" style="margin: 0; cursor: pointer; font-size: 17px;">Have you any email?</label>
                </div>
                <div class="form-grid">
                    <div class="input-group" id="email_group" style="display: none;">
                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="samim@gmail.com">
                    </div>
                    <div class="input-group">
                        <label>WhatsApp (ডিজাইন দেখার জন্য)</label>
                        <input type="tel" name="whatsapp" placeholder="01XXXXXXXXX">
                    </div>
                </div>

                <div id="dynamicFields" style="margin-bottom: 15px;"></div>
                <div id="hiddenFields" style="margin-bottom: 15px;"></div>

                <div class="form-grid">
                    <div class="input-group full-width">
                        <label>ডেলিভারি ঠিকানা</label>
                        <input type="text" name="address" placeholder="পূর্ণ ঠিকানা, থানা, জেলা" required>
                    </div>
                </div>

                <div class="form-grid">
                    <div class="input-group">
                        <label for="district">জেলা</label>
                        <select id="district" name="district" required>
                            <option value="">-- সিলেক্ট করুন --</option>
                        </select>
                    </div>

                    <div class="input-group" id="upazila_div" style="display: none;">
                        <label for="upazila">থানা</label>
                        <select id="upazila" name="upazila" required>
                            <option>-- সিলেক্ট করুন --</option>
                        </select>
                    </div>
                </div>

                <div class="form-grid" id="area_div" style="display: none;">
                    <div class="input-group full-width">
                        <label>ডেলিভারি ঠিকানা</label>
                        <select id="area" name="area" required>
                            <option>-- সিলেক্ট করুন --</option>
                        </select>
                    </div>
                </div>

                <div class="form-grid">
                    <div class="input-group">
                        <label>ডেলিভারি টাইপ</label>
                        <select name="deliveryType" required>
                            <option value="home">হোম ডেলিভারি</option>
                            <option value="branch">সুন্দরবন কুরিয়ার (শাখা)</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label>প্রাপক (যদি গিফট হয়)</label>
                        <input type="text" name="receiver" placeholder="নাম (ঐচ্ছিক)">
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <div class="checkbox-wrapper" id="order-modal-footer-tag-line">
                <!-- <input type="checkbox" id="agreeCheck">
                <label for="agreeCheck">আমি নিশ্চিত করছি যে উপরের তথ্য সঠিক। ডিজাইনার আমার WhatsApp এ যোগাযোগ করবেন।</label> -->
            </div>
            <button class="btn-confirm" id="confirmOrderBtn" type="submit">কনফার্ম অর্ডার</button>
        </div>
    </div>
</div>

<script>
    // Processing Card Show Script============== 
    function showProcessingCard() {
        const formDivContainer = document.getElementById("formDivContainer");

        const card = document.createElement("div");
        card.className = "status-card";
        card.id = "orderProcessingCard"
        card.innerHTML = `
            <div class="loader"></div>
            <h3>আপনার অর্ডার প্রসেস করা হচ্ছে...</h3>
            <p>একটু অপেক্ষা করুন।</p>
        `;

        formDivContainer.appendChild(card);
    }
    // Delete Processing Card Show Script============== 
    function deleteProcessingCard() {
        const card = document.getElementById("orderProcessingCard");
        if (card) {
            card.remove();
        }
    }
    // Success Card Show Script============== 
    function showSuccessCard() {
        const formDivContainer = document.getElementById("formDivContainer");

        const card = document.createElement("div");
        card.className = "status-card success";
        card.id = "orderSuccessCard"
        card.innerHTML = `
            <h3>অর্ডার সফলভাবে সম্পন্ন হয়েছে!</h3>
            <p>ধন্যবাদ! আমরা খুব দ্রুতই আপনার সাথে যোগাযোগ করব।</p>
        `;
        formDivContainer.appendChild(card);


        let second = 3
        orderModelFooterTagLine.innerHTML = ""
        confirmOrderBtn.innerHTML = ""
        orderModelFooterTagLine.outerHTML = `
        <div class="checkbox-wrapper" id="order-modal-footer-tag-line">
            <label for="agreeCheck">অর্ডার টি কনফার্ম করার জন্য ধন্যবাদ। ডিজাইনার আমার WhatsApp এ যোগাযোগ করবেন।</label>
            <p style="font-size: 13px; color: #047857; font-weight: 600; margin: 0;" id="autoRedirectText">Auto Redirect ${second}</p>
        </div>
        `
        confirmOrderBtn.outerHTML = `<button onclick="closeOrderSuccess()" class="btn-confirm" onmouseover="this.style.opacity='0.9'" onmouseout="this.style.opacity='1'">Go to Home</button>`
        orderModelFooterTagLine.style.display = "block";
        confirmOrderBtn.style.display = "block";

        const countdownInterval = setInterval(() => {
            second--
            document.getElementById("autoRedirectText").innerText = `Auto Redirect ${second}`

            if (second <= 0) {
                clearInterval(countdownInterval)
                closeOrderSuccess()
            }
        }, 1000)
    }
    // Delete Success Card Show Script============== 
    function deleteSuccessCard() {
        const card = document.getElementById("orderSuccessCard");
        if (card) {
            card.remove();
        }
    }
    // Failed Card Show Script==============    
    function showFailedCard() {
        const formDivContainer = document.getElementById("formDivContainer");

        const card = document.createElement("div");
        card.className = "status-card failed";
        card.style.display = "none"
        card.id = "orderFailedCard"
        card.innerHTML = `
            <h3>অর্ডার সম্পন্ন হয়নি!</h3>
            <p id="failedMessage">কিছু একটা সমস্যা হয়েছে, আবার চেষ্টা করুন।</p>
            <button onclick="retryOrder()" class="cta-btn danger">পুনরায় চেষ্টা করুন</button>
        `;
        formDivContainer.appendChild(card);
    }
    // Delete Failed Card Script============== 
    function deleteFailedCard() {
        const card = document.getElementById("orderFailedCard");
        if (card) {
            card.remove();
        }
    }


    function retryOrder() {
        deleteFailedCard();
        modalStyleDisplayHanlde("block");
    }
    function closeOrderSuccess() {
        document.getElementById("orderModal").style.display = "none";
        location.reload();
        // alert("Ok")
    }

    function modalStyleDisplayHanlde(value){
        orderForm.style.display = value;
        orderModelFooterTagLine.style.display = value;
        confirmOrderBtn.style.display = value;
    }
    function createTag(tag, type, name, tag_value = null) {
        const create_element = document.createElement(tag);
        create_element.type = type;
        create_element.name = name;
        create_element.value = tag_value;
        return create_element
    }
    async function getProduct(id = null) {
        let uRL = id ? `/api/v1/product/${id}/` : "/api/v1/product/";
        try {
            const response = await fetch(uRL, {
                method: "GET",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                }
            });
            const data = await response.json();
            if (data.status) {
                return data.data;
            } else {
                return null;
            }
        } catch (error) {
            return null;
        }
    }


    function validateOrderForm(form) {
        const elements = form.querySelectorAll("input, select, textarea");
        for (let el of elements) {
            if (el.disabled || el.type === "hidden" || el.type === "button" || el.type === "submit") {
                continue;
            }
            if (el.hasAttribute("required") && !el.value.trim()) {
                const label = el.closest(".input-group")?.querySelector("label")?.innerText || el.name;
                alert(`${label} ফিল্ড পূরণ করা বাধ্যতামূলক`);
                el.focus();
                return false;
            }
        }
        return true;
    }

    const orderForm = document.getElementById("placeOrderForm");
    const confirmOrderBtn = document.getElementById('confirmOrderBtn');
    const orderModelFooterTagLine = document.getElementById('order-modal-footer-tag-line');
    confirmOrderBtn.addEventListener("click", async function (event) {
        event.preventDefault();
        if (!validateOrderForm(orderForm)){
            return;
        }

        inputProductId = createTag("input", "hidden", "product_id", "{{ landing_page_product.product.id }}") // product price 
        inputProductPrice = createTag("input", "hidden", "product_price", "{{ landing_page_product.product.discount_price }}") // product price 
        if (!inputProductId && !inputProductPrice) {
            deleteProcessingCard();
            showFailedCard();
            document.getElementById("failedMessage").innerHTML = "Create Tag Issues";
            orderFailedCard.style.display = "block"
        }
        orderForm.appendChild(inputProductId);
        orderForm.appendChild(inputProductPrice);

        modalStyleDisplayHanlde("none");
        showProcessingCard();

        const formData = new FormData(orderForm);

        const orderProductFetch = await getProduct("{{ landing_page_product.product.id }}"); // Fetch Selected Product
        const content_ids = [String(formData.get("variante"))];
        // FacebookInitiateCheckEvent(content_ids, orderProductFetch.title, "{{ landing_page_product.product.discount_price }}")

        try {
            const csrftoken = '{{ csrf_token }}';
            const response = await fetch("{% url 'create_order' %}", {
                method: "POST",
                body: formData,
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": csrftoken
                },
            });
            const data = await response.json()
            deleteProcessingCard();

            if (!data.success) {
                showFailedCard()
                document.getElementById("failedMessage").innerHTML = data.message || "অজানা ত্রুটি হয়েছে!";
                orderFailedCard.style.display = "block"
            } else {
                showSuccessCard()
                document.getElementById("closeModalBtn").style.display = "none"
                // FacebookPurchaseEvent(content_ids, orderProductFetch.title, "{{ landing_page_product.product.discount_price }}")
            }

        } catch (error) {
            deleteProcessingCard();
            showFailedCard();
            document.getElementById("failedMessage").innerHTML = error || "নেটওয়ার্ক সমস্যা! আবার চেষ্টা করুন।";
            orderFailedCard.style.display = "block"
        }
    })
</script>

<script>
    const districtSelect = document.getElementById('district');
    const upazilaSelect = document.getElementById('upazila');
    const areaSelect = document.getElementById('area');

    // *** District List Fetch ***
    fetch('https://bdapi.vercel.app/api/v.1/district').then(response => response.json()).then(data => {
        if (data.status === 200 && data.success) {
            data.data.forEach(district => {
                const option = document.createElement('option')
                option.value = district.name.toLowerCase()
                option.setAttribute('district_id', district.id);
                option.textContent = district.bn_name
                districtSelect.appendChild(option)
            });
        }
    })
    .catch(error => console.error('Error fetching district:', error))

    // *** Upazila Based on District List Fetch ***
    districtSelect.addEventListener("change", function () {
        document.getElementById('upazila_div').style.display = "block";
        area_div = document.getElementById('area_div').style.display = "none";


        const districtId = this.options[this.selectedIndex].getAttribute('district_id');
        upazilaSelect.innerHTML = "<option>-- সিলেক্ট করুন --</option>";
        if (!districtId) return;

        fetch(`https://bdapi.vercel.app/api/v.1/upazilla/${districtId}`)
            .then(res => res.json())
            .then(data => {
                if (data.status === 200 && data.success) {
                    data.data.forEach(upazila => {
                        const option = document.createElement('option')
                        option.value = upazila.name.toLowerCase()
                        option.setAttribute('upazila_id', upazila.id)
                        option.textContent = upazila.bn_name
                        upazilaSelect.appendChild(option)
                    })
                }
            })
            .catch(error => console.error("Error fetching upazila: ", error))
    })

    // *** Area Based on Upazila List Fetch ***
    upazilaSelect.addEventListener("change", function () {
        area_div = document.getElementById('area_div').style.display = "block";

        const upazilaId = this.options[this.selectedIndex].getAttribute('upazila_id');
        areaSelect.innerHTML = "<option>-- সিলেক্ট করুন --</option>";
        if (!upazilaId) return;

        fetch(`https://bdapi.vercel.app/api/v.1/union/${upazilaId}`)
            .then(res => res.json())
            .then(data => {
                if (data.status === 200 && data.success) {
                    data.data.forEach(area => {
                        const option = document.createElement('option')
                        option.value = area.name.toLowerCase()
                        option.textContent = area.bn_name
                        areaSelect.appendChild(option)
                    })
                }
            })
            .catch(error => console.error("Error fetching upazila: ", error))
    })

    // *** Check If you have email ***
    function haveEmailCheckboxFunction(){
        const haveEmailCheckbox = document.getElementById("have_email")
        const emailField = document.getElementById('email_group');
        haveEmailCheckbox.addEventListener('change', function() {
            emailField.style.display = this.checked ? "block" : "none";
        })
    }
    haveEmailCheckboxFunction() 
</script>