<div class="modal fade" id="deliveryOptionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <form method="POST" id="deliveryOptionForm" data-url="{% url 'order_delivery_option_submit' 0 %}" novalidate>

                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Shipping Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <!-- Result Card Here -->
                    <div id="delivery-result">
                    </div>


                    <p class="mb-3">
                        Select a logistics partner to create parcel:
                    </p>

                    <div class="row g-3" id="logistics-option">
                    </div>

                    <div class="alert alert-danger mt-3 small">
                        Once submitted, parcel will be created in the selected logistics panel.
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-danger">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

