{% load static %}
<!-- COLOR PREVIEW -->
<section class="color-preview-section motion-scale">
    <div class="color-preview-title">{{landing_page_product.product_details_section_title}}</div>

    <div class="color-grid">
        {% for variante in landing_page_product.product.active_variante %}
        <div class="color-item">
            
            {% with img=variante.images.all|first %}
            {% if img %}
            <img src="{{ img.image.url }}">
            {% else %}
            <img src="{% static 'assets/images/reading-table.png' %}">
            {% endif %}
            {% endwith %}

            <div class="color-name">{{variante.sku}}</div>
        </div>
        {% endfor %}
    </div>
</section>