{% load static %}
<!-- COLOR PREVIEW -->
<section class="color-preview-section motion-scale">
    <div class="color-preview-title">কালার প্রিভিউ (উপরে দেখে নিন)</div>

    <div class="color-grid">
        <div class="color-item">
            <img src="{% static 'assets/images/reading-table.png' %}">
            <div class="color-name">Black–White</div>
        </div>

        <div class="color-item">
            <img src="{% static 'assets/images/reading-table.png' %}">
            <div class="color-name">Black–Yellow</div>
        </div>

        <div class="color-item">
            <img src="{% static 'assets/images/reading-table.png' %}">
            <div class="color-name">White–Pink</div>
        </div>
    </div>
</section>