{% load static %}
<!-- HERO -->
<section class="hero">
    <div class="hero-top">
        <!-- hero-img wrapper -->
        <div class="hero-img" id="heroImg">
            <img src="{% static 'assets/images/reading-table.png' %}" alt="">
        </div>
        <div class="hero-content">
            <div>
                <div class="badge"><span class="badge-dot"></span> Buyolex Exclusive</div>
                <h1>শীতের দিনে অন্যরকম কমফোর্ট – প্রিমিয়াম কাশ্মিরি মাফলার</h1>
                <p class="subheading">নরম, মোলায়েম আর প্রিমিয়াম ফিনিশ – দেখলেই বোঝা যায়।</p>

                <div><span class="price-regular">৳১২৯০</span></div>
                <div><span class="price-now" id="product-discount-price" data-price="899">আজ মাত্র ৳৮৯৯</span>
                </div>
                <div style="font-size:11px;color:var(--text-muted);">৩০% ডিসকাউন্ট • লিমিটেড স্টক</div>
            </div>
        </div>
    </div>

    <div class="hero-bullet-cta-btn">
        <ul class="hero-bullets">
            <li>কাশ্মিরি ফিল – সফট ও মোলায়েম</li>
            <li>প্রিমিয়াম ইউনিক প্যাটার্ন</li>
            <li>স্টাইলিশ + কমফোর্টেবল</li>
        </ul>

        <button class="cta-btn">
            Buy Now – ৩০% OFF
        </button>
    </div>
</section>
