{% load static %}
<!-- HERO -->
<section class="hero">
    <div class="hero-top">
        <!-- hero-img wrapper -->
        <div class="hero-img" id="heroImg">
            {% if landing_page_product.hero_type == "video" %}
            <video autoplay loop muted playsinline class="your-classes">
                <source src="{{ primary_hero.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% else %}
            <img src="{{ primary_hero.image.url }}" alt="{{ primary_hero.image.name }}">
            {% endif %}
        </div>
        <div class="hero-content">
            <div>
                <div class="badge"><span class="badge-dot"></span> Buyolex Exclusive</div>
                <h1>{{landing_page_product.product.title}}</h1>
                {% with lines=landing_page_product.product.short_description.splitlines %}
                <p class="subheading">{{lines.0}}</p>
                {% endwith %}

                <div><span class="price-regular">৳{{landing_page_product.product.price}}</span></div>
                <div>
                    <span class="price-now" id="product-discount-price" data-price="{{landing_page_product.product.discount_price}}">
                        আজ মাত্র {{landing_page_product.product.discount_price}}
                    </span>
                </div>
                <div style="font-size:11px;color:var(--text-muted);">৩০% ডিসকাউন্ট • লিমিটেড স্টক</div>
            </div>
        </div>
    </div>

    <div class="hero-bullet-cta-btn">
        <ul class="hero-bullets" style="padding: 0px;">
            {% with lines=landing_page_product.product.short_description.splitlines %}
            {% for line in lines|slice:"1:" %}
            <p style="font-size: 13px; margin: auto;">{{line}}</p>
            <!-- <li>{{line}}</li> -->
            {% endfor %}
            {% endwith %}
        </ul>

        <button class="cta-btn">
            Buy Now - ৩০% OFF
        </button>
    </div>
</section>